# Virtual environment
.venv/
venv/
env/

# Environment secrets
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
