# ==================================================
# Virtual Environments
# ==================================================

venv/
.venv/
env/


# ==================================================
# Environment Secrets
# ==================================================

.env
.env.local


# ==================================================
# Python Cache
# ==================================================

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


# ==================================================
# Streamlit
# ==================================================

.streamlit/


# ==================================================
# VS Code
# ==================================================

.vscode/


# ==================================================
# Logs
# ==================================================

*.log


# ==================================================
# Temporary Files
# ==================================================

*.tmp
*.temp


# ==================================================
# OS Files
# ==================================================

.DS_Store
Thumbs.db

.adk/